# Load Steam data

In [1]:
import pandas as pd
import dask.dataframe as dd
from dask.delayed import delayed
from sqlalchemy import create_engine
import os

### Read data (Dask)

In [2]:
data_dir = "./steam_dataset/"
steam_spy_basic = os.path.join(data_dir, 'steamspy/basic/', 'steam_spy_scrap.json')

In [3]:

ddf = dd.read_json(steam_spy_basic, orient='index')
ddf.set_index('appid')

Dask DataFrame Structure:
                 name developer publisher score_rank positive negative userscore  owners average_forever average_2weeks median_forever median_2weeks    price initialprice discount    ccu
npartitions=1
10             object    object    object     object    int64    int64     int64  object           int64          int64          int64         int64  float64      float64  float64  int64
2006440           ...       ...       ...        ...      ...      ...       ...     ...             ...            ...            ...           ...      ...          ...      ...    ...
Dask Name: sort_index, 4 graph layers

###  Set PostgreSQL

In [13]:
db_uri = 'postgresql://root:root@localhost:5432/steam-de'
#engine = create_engine(db_uri)
#engine

Engine(postgresql://root:***@localhost:5432/steam-de)

In [14]:
print(pd.io.sql.get_schema(ddf, name='steam_spy_basic', con=engine))

CREATE TABLE steam_spy_basic (
	appid BIGINT,
	name TEXT,
	developer TEXT,
	publisher TEXT,
	score_rank TEXT,
	positive BIGINT,
	negative BIGINT,
	userscore BIGINT,
	owners TEXT,
	average_forever BIGINT,
	average_2weeks BIGINT,
	median_forever BIGINT,
	median_2weeks BIGINT,
	price FLOAT(53),
	initialprice FLOAT(53),
	discount FLOAT(53),
	ccu BIGINT
)

## Upload data

In [15]:
ddf.to_sql(name = 'steam_spy_basic', uri = db_uri, if_exists = 'replace', chunksize = 10000)